.tag{
  width:fit-content;
  height: fit-content;
  padding: .5em;
  box-sizing: border-box;
  border: 2px groove;
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  border-inline-start-width: 6px; 
  border-inline-start-color: rgb(32, 32, 32);
  border-inline-end-style: ridge;
  border-block-end-style: ridge;
  box-shadow: 0px 0px 3px 1px;
  cursor:pointer;
  font-size: 1em;
  text-shadow: 2px 3px 3px black;
  background-color: blue;
}
.transitive{
  transition: all .5s ease-out;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(28, 28, 28);
  color:snow;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  color:snow;
}
#page{
  width:100vw;
  height:100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#content{
  width:80vw;
  min-width:36em;
  height:90vh;
  align-self: center;
  display:grid;
  grid-template-rows:auto;
  grid-template-areas:
  "list profile header";
  grid-gap:10em;
  overflow: hidden;
  background-color: rgb(23, 32, 61);
}
#header{
  grid-area: header;
  min-width: max-content;
  justify-self:flex-end;
  margin-right:2em;
}
#traitList{
  grid-area:list;
  min-width:fit-content;
  height:fit-content;
    position:fixed;
}
#content p {
  grid-area:profile;
  width:20em;
  height:10em;
  margin-top:1em;
  justify-self:flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px double snow;
  border-radius:40% 8%;
  background:linear-gradient(20deg, rgb(20,20,20), rgb(60,60,60));
}