.tag{
  width: fit-content;
  height: fit-content;
  padding: .5em .5em;
  border: 2px groove;
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  border-inline-start-width: 6px; 
  border-inline-start-color: red;
  border-inline-end-style: ridge;
  border-block-end-style: ridge;
  box-shadow: 0px 0px 3px 1px;
  cursor:pointer;
  font-size: 1em;
  text-shadow: 1px 1px black;
  background-color: blue;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(28, 28, 28);
  color:snow;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  justify-self:center;
  color:snow;
}
#page{
  width:100vw;
  height:100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#content{
  width:80vw;
  height:90vh;
  align-self: center;
  display:grid;
  background-color: rgb(23, 32, 61);
}